#container{
  height: 50vh;
}

.legenddiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

  
  .leftWrap div{
    width: 380px;
    font-size: 32px;
    font-weight: 300;
    color: black;
  }
  
  
  
  #pics{
    width: 300px;
    height: 300px;
    border-radius: 220px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
  }

  @media screen and (max-width: 750px) {
    .legenddiv{
      flex-direction: column;
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 450px) {
    .legenddiv{
      flex-direction: column;
      display: flex;
      justify-content: center;
    }
  }