


  
  
  
  
  
  
  
  
  
  .leftWrap p{
    width: 380px;
    font-size: 32px;
    font-weight: 300;
    color: rgb(87, 87, 87);
  }
  .leftWrap button{
    width: 120px;
    padding: 8px 14px;
    border: none;
    background-color: crimson;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    
  }
  
  .right{
    
   
  }

  .rightWrap{
   
   
  }
  
  #pics{
    width: 250px;
    height: 250px;
    border-radius: 220px;
    border-width: 2px;
    border-style: solid;
    border-color:crimson;
  }