.conntainer{
    height: 90vh;
   
}


#projectImg{
    width: 250px;
    height: 250px;

}

ul{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
}



.conntainer h1{
    text-align: center;
}

.conntainer p{
    text-align: center;
}

#calculate{
    display: flex;
    flex-direction: column;
    width: 250px;
}

#calculate a{
    color: black;
    text-decoration: underline;
}

#todo a{
    color: black;
    text-decoration: underline;
}

#todo{
    display: flex;
    flex-direction: column;
    width: 250px;
}

#todo img{
    align-items: center;
} 

#todo p{
    
    width: 100%;
    text-align: center;
}

#Tcounter{
    display: flex;
    flex-direction: column;
    width: 250px;
}

#Tcounter a{
    color: black;
    text-decoration: underline;
}





