span{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    
}

#skillWrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.countainer{
    height: 80vh;
}

.countainer h1{
    margin-left: 0%;
}

#group9{
    display: flex;
}

#group9 h2{
    margin-left: 20px;
}

#group10{
    display: flex;
}

#group10 h2{
    margin-left: 20px;
}

#group11{
    display: flex;
}

#group11 h2{
    margin-left: 20px;
}

#group12{
    display: flex;
}

#group12 h2{
    margin-left: 20px;
}

#group13{
    display: flex;
}

#group13 h2{
    margin-left: 20px;
}

#group14{
    display: flex;
}

#group14 h2{
    margin-left: 20px;
}


