.orntainer{
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

   
    
}

.exprienceWrap{
    display: flex;
    flex-direction: column;
}
.orntainer h1{
    margin-left: 50px;
}

.orntainer p{
    margin-left: 100px;
    
}

h4{
    margin-left: 100px;
}

#exprience{
    display: flex;
   
}

#sail{
    margin-left: 100px;
}

#year{
    /* margin-right: 200px; */
}

#ulAbt{
    margin-left: 75px;
    flex-direction: column;
}

#liAbt{
    list-style:square;
}

