@media screen and (max-width:750px) {
    
  #burgerMenu{
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;

  }

  #nav{
   
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }

  #logo{
    display: none;
  }
    .legenddiv{
        flex-direction: column;
      
    }

    .orntainer{
        margin-top: 25%;
        display: flex;
        justify-content: center;
       
    }

    ul{
        
        flex-direction: column;
        display: flex;
        justify-content: center;
      
        
    }

    .countainer{
        
        margin-top: 105%;
       
    }

    #img{
        flex-direction: column;
    }

    #group9{
        margin: 10px;
        align-items: center;
      }
      #group10{
        margin: 10px;
        align-items: center;
      }

      #group11{
        margin: 10px;
        align-items: center;
      }

      #group12{
        margin: 10px;
        align-items: center;
      }

      #group13{
        margin: 10px;
        align-items: center;
      }

      #group14{
        margin: 10px;
        align-items: center;
      }

    .conContainer{
        flex-direction: column;
        margin-top: 50%;
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width:650px) {
    
   
      .legenddiv{
          flex-direction: column;
          text-align: center;
          width: 75%;
      }
  
      .orntainer{
          margin-top: 50%;
          flex-direction: column;
        display: flex;
        justify-content: center;
      }

      #exprience{
        display: flex;
        gap: 50px;
      }
  
      ul{
        
        flex-direction: column;
        display: flex;
        justify-content: center;
        
    }
      .pro{
        flex-direction: column;
        display: flex;
        justify-content: center;
      }
  
      .countainer{
          flex-direction: column;
          margin-top: 100%;
      }

      #img{
        flex-direction: column;
        display: flex;
        justify-content: center;
        
      }
  
      .conContainer{
          flex-direction: column;
          margin-top: 52%;
       
          display: flex;
          justify-content: center;
      }

      #soMediabase{
        flex-direction: column;
      }

      #group9{
        margin: 10px;
        align-items: center;
      }
      #group10{
        margin: 10px;
        align-items: center;
      }

      #group11{
        margin: 10px;
        align-items: center;
      }

      #group12{
        margin: 10px;
        align-items: center;
      }

      #group13{
        margin: 10px;
        align-items: center;
      }

      #group14{
        margin: 10px;
        align-items: center;
      }

      #nav span{
       
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
       
      }



      #logo{
        display: none;
      }
  }
  
  @media screen and (max-width:600px) {
    
   
    .legenddiv{
        flex-direction: column;
        text-align: center;
        
    }

    .orntainer{
        margin-top: 55%;
        flex-direction: column;
      display: flex;
      justify-content: center;
      
    }

    #exprience{
      display: flex;
      gap: 50px;
    }

    ul{
      
      flex-direction: column;
      display: flex;
      justify-content: center;
      
  }
    .pro{
      flex-direction: column;
      display: flex;
      justify-content: center;
    }

    .countainer{
        flex-direction: column;
        margin-top: 150%;
    }

    #img{
      flex-direction: column;
      display: flex;
      justify-content: center;
      
    }

    .conContainer{
        flex-direction: column;
        margin-top: 60%;
        display: flex;
        justify-content: center;
    }

    #soMediabase{
        flex-direction: column;
       
    }

    #group9{
      margin: 10px;
      align-items: center;
    }
    #group10{
      margin: 10px;
      align-items: center;
    }

    #group11{
      margin: 10px;
      align-items: center;
    }

    #group12{
      margin: 10px;
      align-items: center;
    }

    #group13{
      margin: 10px;
      align-items: center;
    }

    #group14{
      margin: 10px;
      align-items: center;
    }

    #logo{
      display: none;
    }
}


@media screen and (max-width:550px){
    .orntainer{
        margin-top: 70%;
        flex-direction: column;
      display: flex;
      justify-content: center;
      text-align: center;

      
    }

    .legenddiv{
        flex-direction: column;
        text-align: center;
       
    }

   
.concontainer{
    flex-direction: column;
    margin-top: 160%;
    margin-left: 100px;
}

.countainer{
    flex-direction: column;
    margin-top: 160%;
}

.conContainer button{
     
    height: 45px;
    
    color: black;
    margin-left: 63%;
    background-color:white;
}

}



@media screen and (max-width:500px){
    .orntainer{
        margin-top: 75%;
        flex-direction: column;
      display: flex;
      justify-content: center;
      text-align: center;

      
    }

    .legenddiv{
        flex-direction: column;
        text-align: center;
      
    }

.countainer{
    flex-direction: column;
    margin-top: 160%;
}

.conContainer{
    flex-direction: column;
    margin-top: 70%;
    display: flex;
    justify-content: center;
}


}


@media screen and (max-width:450px){

    .orntainer{
        margin-top: 80%;
        flex-direction: column;
      display: flex;
      justify-content: center;
      text-align: center;

      
    }

    .legenddiv{
        flex-direction: column;
        text-align: center;
        margin-left: 70px;
    }

.countainer{
    flex-direction: column;
    margin-top: 140%;
}

.conContainer{
    flex-direction: column;
    margin-top: 80%;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: 70px;
}


}


@media screen and (max-width:400px){
    .orntainer{
        margin-top: 95%;
        flex-direction: column;
      display: flex;
      justify-content: center;
      text-align: center;
     

      
    }

    .legenddiv{
        flex-direction: column;
        text-align: center;
        width: 90%;
    }

    

    
#formail{
    width: 80% ;
    height: 40px;
    align-items: center;
}

#textarea{
    width: 80%;
    align-items: center;
}

.countainer{
    flex-direction: column;
    margin-top: 200%;
}

.conContainer{
    flex-direction: column;
    margin-top: 90%;
    display: flex;
    justify-content: center;
}


}


  @media screen and (max-width:360px) {

    
    .legenddiv{
        flex-direction: column;
        text-align: center;
       margin-left: 70px;
    }

    .orntainer{
        margin-top: 108%;
        flex-direction: column;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    #exprience{
      display: flex;
      gap: 30px;
    }

    ul{
      
      flex-direction: column;
      display: flex;
      justify-content: center;
      
  }
    .pro{
      flex-direction: column;
      display: flex;
      justify-content: center;
    }

    #skillWrap{
        margin-top: 80%;
    }

    .conntainer{
        flex-direction: column;
        margin-top: 200%;
    }


    .countainer{
        flex-direction: column;
        margin-top: 280%;
    }

    #img{
      flex-direction: column;
      display: flex;
      justify-content: center;
     
    }

    .conContainer{
        flex-direction: column;
        margin-top: 117%;
        margin-left: 70px;
        display: flex;
        justify-content: center;
    }

    #soMediabase{
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        
    }


    

    #group9{
      margin: 10px;
      align-items: center;
    }
    #group10{
      margin: 10px;
      align-items: center;
    }

    #group11{
      margin: 10px;
      align-items: center;
    }

    #group12{
      margin: 10px;
      align-items: center;
    }

    #group13{
      margin: 10px;
      align-items: center;
    }

    #group14{
      margin: 10px;
      align-items: center;
    }

    


    #logo{
      display: none;
    }

}





